/* this is the header styling*/

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #FFD700;
}


/* this is the body styling*/

body {
    background-color: #006e99;
}

.questions {
    text-align: center;
}

.gus {
    text-align: center;
}

.footer {
    position: absolute;
    font-size: x-small;
}